{% extends "base.pug" %}
{% block body %}

#basket-main
    h1 バスケット分析
    #basket-container
        #basket-search
            form(action="", method="get")
                .form-group
                    .item
                        label(for="search-from") 分析開始日
                        input#search-from.datepicker(name="", placeholder="")
                    .item
                        label(for="search-to") 分析終了日
                        input#search-to.datepicker(name="", placeholder="")
                    .item
                        button#search-expand-btn button
                #search-expand.expand expand
                a(href="") 分析
        .basket-ranking ランキング
        .basket-network
            #network
//- datepicker.js
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")

//- vis.js	
link(rel="stypesheet", href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js")
script.
    $("#search-expand-btn").on('click', function() {
        $("#search-expand").slideToggle();
        return false;
    });
    
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        firstDay: 0, //0?6　0が日曜、1が月曜、2が火曜・・・・6が土曜
        monthNames: [ "1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月" ]// 初期値[ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]
    });
    
    var nodes = new vis.DataSet({{ nodes | tojson }});
    var edges = new vis.DataSet({{ edges | tojson }});
    var container = document.getElementById('network');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
    };
    var network = new vis.Network(container, data, options);
    
    network.on("click", function(params) {
        if (params.nodes.length == 1) {
            var nodeId = params.nodes[0];
            var node = nodes.get(nodeId);
            console.log(node.label + 'がクリックされました');
        }
    });

{% endblock %}
