version: '3.7'

services:
    responder:
        hostname: responder
        container_name: responder
        build: 
          context: "./app"
          args:
            - GIT_USER_NAME: ""
            - GIT_USER_EMAIL: ""
            - USE_ULTRAHOOK: false
            - ULTRAHOOK_KEY: ""
            - ULTRAHOOK_URL: ""
            - ULTRAHOOK_PORT: 5500
        restart: always
        tty: true # コンテナを起動し続ける
        ports:
            - 5500:5500
        # command: /bin/sh -c "python /root/run.py"
        volumes:
            - ".:/var/www/html"
            - ".volumes/python_packages:/home/vscode/.local/lib/python3.9/site-packages/"
            - ".volumes/zplug:/home/vscode/.zplug/"
    database:
        image: mysql:5.7
        hostname: mysql
        container_name: mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: LOOK_INTO_BASKETS
            MYSQL_USER: mysql
            MYSQL_PASSWORD: mysql
            TZ: 'Asia/Tokyo'
        command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        volumes:
            - ./database/data:/var/lib/mysql
            - ./database/my.cnf:/etc/mysql/conf.d/my.cnf
            - ./database/sql:/docker-entrypoint-initdb.d
