<!DOCTYPE html>
html(lang="ja")
    title Look into Baskets
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="{{ 'favicon.ico' | css }}", type="image/x-icon")
        link(rel="stylesheet", href="{{ 'css/destyle.css' | css}}")
        link(rel="stylesheet", href="{{ 'css/root.css' | css}}")
        link(rel="stylesheet", href="{{ 'css/style.css' | css }}")
        link(rel="stylesheet", href="{{ 'css/button.css' | css }}")

    body
        .container
            .title
                img(src="{{ 'image/logo.jpg' | css }}", alt="title-logo", style="object-fit:contain; width:auto; height:100%;")
            session.content
                p.
                    スマレジでたてた取引から、売上に色々な傾向が分ります。<br />
                    このアプリでは、クリックするだけの簡単操作で、<br />
                    取引データを分析、見える化し、店舗売上UPのお手伝いします。

                p.
                    キャンペーン前後で分析して、その効果を確認したり
                p.
                    売上が伸び悩んだ時の突破口を探してみたり
                p.
                    さまざまな目的でのご利用をお待ちしております。

            #button-section
                a(href="/accounts/login")
                    button はじめる
                    //- a.btn.secondary(href="/login_demo") デモを体験してみる

    style.
        p {
            margin: 30px;
        }
        .title {
            background: var(--color__base);
            width:100vw;
            height: 10%;
            display: flex;
            justify-content: center;
        }

        .content {
            margin: 1.0em;
        }

        #button-section {
            //- background-color: #f0f0f0;
            width: 80vw;
            margin: auto;
        }
        .button-group {
            display: flex;
            flex-flow: column;
            justify-content: center;
        }

        a.btn {
            margin: 1em;
            height: 3em;
            padding-top:auto;
            padding-bottom:auto;

            border: 1px solid;
            border-radius: 5px;
        }

        .btn.primary {
            color: white;
            background-color:#6633ff;
        }

        .btn.secondary {
            color: white;
            background-color:#777777;
        }