{% extends "base.html" %}
{% block body %}
<h1>logs...</h1>
{{ message }}
<h1>アカウント一覧</h1>
<div>
<!--    <a href="/basckets">取引取得</a> -->
    <a href="/basckets/transactions">取引取得</a>
    <a href="/accounts/token">トークン取得</a>
    <a href="/accounts/authorize">ログイン認証</a>
    <form action="/accounts">
        <p><label>contract_id: </label></p>
        <input type="text" name="contract_id" value="">
        <p><label>status: </label></p>
        <input type="text" name="status" value="">

        <button type="submit" formmethod="get">LOGIN</button>
        <button type="submit" formmethod="post">POST</button>
    </form>
</div>
<div>
    <form action="/accounts/delete">
        <p><label>contract_id: </label></p>
        <input type="text" name="contract_id" value="">
        <button type="submit" formmethod="post">DELETE</button>
    </form>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>契約ID</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <!-- <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.id }}</td>
                <td>{{ account.contract_id }}</td>
                <td>{{ account.status }}</td>
            </tr>
            {% else %}
                <td>書籍が登録されていません</td>
            {% endfor %}
        </tbody> -->
    </table>
</div>
{% endblock %}
