<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Look into Baskets
        link(rel="shortcut icon", href="{{ 'favicon.ico' | css }}", type="image/x-icon")
        link(rel="stylesheet", href="{{ 'css/destyle.css' | css }}")
        link(rel="stylesheet", href="{{ 'css/root.css' | css }}")
        link(rel="stylesheet", href="{{ 'css/style.css' | css }}")
        link(rel="stylesheet", href="{{ 'css/button.css' | css }}")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Quicksand")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")

        //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
        link(rel="stypesheet", href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css")

    body
        .body-container
            header
                nav
                    .nav-container
                        div
                            img(src="{{ 'image/logo.jpg' | css }}", alt="logo", style="height:32px;")
                        .menu-container 
                            {{ contractId }}
                            a.menu-item(href="/accounts/logout") ログアウト
            main
                {% block body %}
                {% endblock %}
            footer ver 1.0.0

        //- select option
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="{{ 'js/components/buttons/select.js' | css }}")

        //- vis.js	
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js")
