html lang ja
head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title バスケット分析
    link(rel="stylesheet", href="{{ staticfile('style.css') }}")
body
    .body-container
        header
            nav
                .nav-container
                    div logo
                    .menu-container 
                        .menu-item ログイン
                        .menu-item ログアウト
        main
            {% block body %}
            {% endblock %}
        footer footer
