<!DOCTYPE html>
<html lang="ja">
    <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>バスケット分析</title>
       <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"> -->
			<link href="{{ staticfile('style.css') }}" rel="stylesheet">
      <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
   </head>
	 
	<body>
		<div class="body-container">
			<header>
				<nav>
					<div class="nav-container">
						<div>logo</div>
						<div class="menu-container">
							<div class="menu-item">ログイン</div>
							<div class="menu-item">ログアウト</div>
						</div>
					</div>
				</nav>
			</header>
			<main>
				{% block body %}
				{% endblock %}
			</main>
			<footer>footer</footer>
		</div>
	<script></script>
	</body>
</html>
