<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flask Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Flask Hello World</h1>
      <form>
        <label class="label" for="name">名前</label>
        <input id="name" type="text" name="name">
        <label class="label" for="e-mail">メール</label>
        <input id="email" type="email" name="email">
        <label class="label" for="message">本文</label>
        <textarea rows="4" id="message" name="message"></textarea>
        <button id="btn_submit">送信する</button>
      </form>
    </div>
